<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Compa - Verificador Ortográfico</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>


  
</head>

<body>
<style>
body {
    background-color: lightblue;
}
</style>

<div class="container-fluid mt-3">
  <div class="row">
      <div class="col-md-6 order-3 order-md-1">
          <div class="card shadow mb-3">
            <div class="card-body">
              <form action="{{ url_for('start_server') }}" method=post>
                <div class="form-group">
                  <textarea class="form-control" id="Text1" rows="3" placeholder="Escreva aqui o texto que deseja verificar" name="Text1"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary float-right"><i class="fas fa-comment"></i> Verificar</button>
                  <button class="btn btn-link float-right"><i class="fas fa-times"></i> Descartar</button>
                </div>
              </form>
            </div>
          </div>

          {% if texto %}

          <div class="card shadow mb-3">
            <div class="card-body">
              <div class="d-flex">

                <div class="flex-grow-1">
                  <h5><a href="#">Texto Verificado</a></h5>
                  <p>
                   <h4 class=text-muted> {{ texto }} </h4>
                  </p>
                </div>
              </div>
            </div>
          </div>
            {% endif %}

            {% if errors %}


            <div class="card shadow mb-3">
              <div class="card-body">
                <div class="d-flex">
  
                  <div class="flex-grow-1">
                    <h5><a href="#">Erros Encontrados </a> <small>({{ errors.__len__() }})</small> </h5>
                   
                    {% for s in errors %}
                    <p>
                      {{ s | safe}} </b>
                     {% endfor %}
                    
                     {% if voice %}
 
            <script>
                responsiveVoice.speak(" {{voice}} ", "Brazilian Portuguese Female", {rate: 0.8})
            </script>
            {% endif %}

                    </p>
                  </div>
                </div>
                
              </div>
              <div class="card-footer">
                  <input onclick='responsiveVoice.speak("{{voice}}", "Brazilian Portuguese Female", {rate: 0.9});' type='button' class= 'btn btn-primary float-right' value='Ouvir' />  
                  <input onclick='responsiveVoice.speak("{{voice}}", "Brazilian Portuguese Female", {rate: 0.5});' type='button' class= 'btn btn-link float-right' value='Ouvir Devagar' />
              </div>
            </div>
              {% endif %}

      
        </div>
    <div class="col-md-3 mb-3 order-2">


    {% if reduced %}

    <div class="card shadow mb-3">
      <div class="card-body">
        <h5>Estrutura Gramatical</h5>
        {% for e in reduced %}
          <p><a href="#"><b>{{ e.sintagma }}</b> </a>
            {% for x in e.termos %}
            <br><small class="text-muted">{{ x }}</small> 
            {% endfor %}
          </p>
        <hr>
        {% endfor %}
      </div>
      <div class="card-footer">
      </div>
    </div>

    {% endif %}

    {% if tagged_ %}

    <div class="card shadow mb-3">
      <div class="card-body">
        <h5>Tokens Extraidos</h5>
        {% for t in tagged %}
        <p>{{ t.symbol }}<small class="text-muted"> {{ t.pos }}</small></p>
        {% endfor %}
      </div>
      <div class="card-footer">
        <a href="#"></a>
      </div>
    </div>
    {% endif %}


    </div>
      <div class="col-md-3 mb-3 order-2">
          <div class="card shadow mb-3">
              <img class="card-img-top" src="https://d1m6vmmwsgiy3l.cloudfront.net/images/screenshots/screenshot_1_38711.jpg">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="mb-0"><a href="#" class="text-body">Verificador Ortográfico</a></h5>
                    <h5><a href="#" class="text-body"><small class="text-muted">@compa</small></a></h5>
                  </div>
                  
                </div>
              </div>
            </div>

      <div class="card shadow">
        <div class="card-body">
          &copy; 2018 Desenvolvido com muito carinho por <a href="#">Fábio Melo, Fernando Máximo e Valber Moreira</a>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://use.fontawesome.com/releases/v5.4.1/js/all.js'></script>

  



</body>

</html>
